version: 2.1

executors:
  node-executor:
    docker:
      - image: cimg/node:22.14.0

jobs:
  build:
    executor: node-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies
          command: yarn install
      - save_cache:
          key: v1-dependencies-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Build Project
          command: yarn build
      - persist_to_workspace:
          root: .
          paths:
            - dist

  deploy:
    executor: node-executor
    steps:
      - attach_workspace:
          at: /home/circleci/project
      - add_ssh_keys:
          fingerprints:
            - "SHA256:W626Um9048Sg67sSH//pI9wCwngSjBLf/34HL/EiOtI"
      - run:
          name: Deploy to Server
          command: |
            ssh -o StrictHostKeyChecking=no web@159.223.54.215 "
              cd /home/rzidinc/docker/web/html/wcd/personal_web &&
              rm -rf ./* &&
              rm -rf ./.*"
            scp -r dist/* web@159.223.54.215:/home/rzidinc/docker/web/html/wcd/personal_web
workflows:
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: main # Deploy only if merged to `main`
